body {font-family: Arial;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
    height: 500px;
    width: 300px;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left:-150px;
    margin-top: -250px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    padding: 10px;
    background-color: #556dc6;
    color: white;
    border-radius: 4px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=datetime-local] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    color: black;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #7289da;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}